$backColor:rgb(77, 125, 173);
$height:200px;
#Winning
{
    width: 100%;
    height:$height;
    display: flex;
    flex-direction: column;
    justify-content: center;
   .Colors{
       display: flex;
       flex-direction: row;
       justify-content: center;
       .Color1,.Color2{
           width: 100px;
           height: 100px;
           margin: 10px;
       }
       .Color1{
           animation:welcomes 2s ease-in-out 0s 1 ;
        }
       .Color2{
           animation: welcoms 2s ease-in-out 0s 1;
        }
   }
   button{
       font-size: 20px;
       font-weight: 400;
       font-family: 'Grenze Gotisch', cursive;
   }
}
.Win{
    background-image: url("https://i.pinimg.com/originals/bb/57/4c/bb574cac2ba548dc2a40bd787038bbab.gif");
    background-color: blanchedalmond;
  p{
      text-align: center;
      background-color: green;
      color: greenyellow;
      padding: 5px;
  }
}
.Loss{
    background-image: url("https://i.pinimg.com/originals/11/3f/60/113f60be580a09ef0027073423d98f0f.gif");
    background-size: contain;
    background-color: #ccc;
    p{
        text-align: center;
        background-color: rgb(219, 21, 21);
        color: black;
        padding: 5px;
    }
  }
  @keyframes welcomes{
      0%{right: 100px;}
      100%{right: 0px;}
  }
  @keyframes welcoms{
    0%{left: 100px;}
    100%{left: 0px;}
}