$primaryColor:rgb(82, 102, 167);
.Color__Box{
    display: inline-block;
    width: 150px;
    border: 1px solid   #ccc;
    border-radius: 30px;
    box-shadow: 5px 5px 4px 5px  $primaryColor;
    text-align: center;
    margin: 10px;
    font-family: 'Henny Penny', cursive;
}